:root {
  --vermelho: #e50914;
  --preta: #141414;
  --branco: #fff;
  --cinza: #b3b3b3;
  --cinza2: #737373;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/*elementos base*/
body {
  background: var(--preta);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  overflow-x: hidden;
}

.logo {
  margin-left: 5px;
  color: var(--vermelho);
  font-family: 'Arial Black', Times;
  font-size: 40px;
}

/* login */
.login {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
    url('/img/background-login.jpg');
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.login__header {
  position: absolute;
  top: 20px;
  left: 20px;
}

.login__conteudo {
  width: 470px;
  min-height: 600px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 50px 70px;
}

.login .access__title {
  font-size: 40px;
  color: var(--branco);
}

.login .access__form {
  margin: 25px 0;
  width: 100%;
}

.login .access__input {
  width: 100%;
  height: 50px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: var(--branco);
  margin-bottom: 10px;
}

.login .access__input::placeholder {
  font-size: 15px;
  color: #8c8c8c;
  padding-right: 10px;
}

.login .item {
  margin-bottom: 10px;
  width: 100%;
}

.login .access__button {
  color: var(--branco);
  background-color: var(--vermelho);
  display: block;
  padding: 8px;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.login .item--ajuda {
  display: flex;
  justify-content: space-between;
}

.login .item--ajuda a,
.login .item--ajuda label {
  color: var(--cinza);
}

.login .register {
  margin-top: 50px;
}

.login .register__facebook {
  color: var(--cinza2);
  font-size: 14px;
  display: flex;
}

.login .register__facebook img {
  width: 20px;
  margin-right: 10px;
}

.login .register__signup {
  color: var(--cinza2);
  margin: 11px 0;
  font-size: 18px;
}

.login .register__signup a {
  color: var(--branco);
}

.login .register__saibamais {
  font-size: 14px;
  color: var(--cinza2);
}

.login .register__saibamais a {
  color: var(--branco);
}

/*Perfil*/

.wrapper-perfil {
  background: var(--preta);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}

.wrapper-perfil h1 {
  font-size: 40px;
  margin-bottom: 15px;
  font-weight: normal;
}

.wrapper-perfil .perfil-lista {
  display: flex;
}

.wrapper-perfil .perfil {
  margin: 10px 15px;
  width: 155px;
}

.wrapper-perfil .perfil-thumb {
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  height: 155px;
  margin-bottom: 10px;
}

.wrapper-perfil .perfil-thumb:not(.perfil-adicionar)::before {
  content: '';
  border-radius: 3px;
  border: 3px solid transparent;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  transition: all .3s ease;
}

.wrapper-perfil .perfil:hover .perfil-thumb::before {
  border-color: var(--branco);
}

.wrapper-perfil .perfil-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper-perfil .perfil-lista h2 {
  text-align: center;
  color: var(--cinza);
  font-weight: normal;
  font-size: 20px;
}

.wrapper-perfil .botao-mais {
  cursor: pointer;
  background-color: var(--cinza2);
  color: var(--preta);
  border-radius: 50%;
  width: 85px;
  height: 85px;
  font-size: 55px;
  border: none;
  transition: all .3s ease;
}

.perfil .perfil-adicionar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s ease;
}

.perfil .perfil-adicionar:hover {
  background-color: var(--cinza);
}

.perfil .perfil-adicionar:hover > .botao-mais {
  color: var(--cinza);
}

.wrapper-perfil .botao-gerenciar {
  cursor: pointer;
  padding: 10px 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: var(--preta);
  color: var(--cinza);
  font-size: 15px;
  margin-top: 60px;
  border: 1px solid;
  transition: color .3s ease;
}

.wrapper-perfil .botao-gerenciar:hover {
  color: var(--branco);
}

/* feed */
header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header nav a {
  text-decoration: none;
  color: #aaa;
  margin-right: 10px;
}

header nav a:hover {
  color: #fff;
}

/*filme principal*/
.filme-principal {
  font-size: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
    url('/img/capa-fundo-wanda.jpg');

  min-height: 400px;
  height: 60vh;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.filme-principal .descricao {
  margin-top: 10px;
  margin-bottom: 90px;
}

.filme-principal .titulo {
  margin-top: 15%;
  font-size: 40px;
  font-family: 'Trebuchet MS';
}

.filme-principal .botao {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 15px 30px;
  margin-right: 15px;
  font-size: 12px;
  cursor: pointer;
  transition: 0.3s ease all;
}

.botao:hover {
  background-color: white;
  color: black;
}

.botao i {
  margin-right: 8px;
}

.container {
  padding: 0 15px;
  /* margin-left: 20px; */
}

.filme-principal .container {
  width: 80%;
}

.box-filme {
  height: 100%;
  width: 100%;
  display: block;
}

.carrosel-filmes {
  margin-top: 7px;
}

